Source: kquickimageeditor
Section: kde
Priority: optional
Maintainer: Uri Herrera <uri_herrera@nxos.org>
Build-Depends: libkf5config-dev,qtdeclarative5-dev,libkf5guiaddons-dev
Standards-Version: 3.9.6

Package: kquickimageeditor
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Set of QtQuick components providing basic image editing capabilities.
 KQuickImageEditor for Nitrux.
